@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400&display=swap');


body {
    font-family: "Roboto", sans-serif;
}

.titulo {
    font-family:"Bebas Neue", sans-serif;
     font-size: 50px;
}

/* HEADER SUPERIOR */
.header-superior a {
    color: #ffe81f;
    font-size: 30px;
    font-weight: bold;
    font-family:"Bebas Neue", sans-serif;
}

.header-superior a:hover {
    transform: translateY(-6px); 
    box-shadow: 0 4px 10px rgba(195, 237, 25, 0.2); 
    color: #fa041c;
}

/* HEADER INFERIOR */
.header-inferior a {
    color: #ffe81f ;
    font-weight: bold;
    font-family:"Bebas Neue", sans-serif;
}


.header-inferior a:hover {
    transform: translateY(-3px); 
    box-shadow: 0 4px 10px rgba(195, 237, 25, 0.2); 
    color: #fa041c;
}

/* Boton */

.boton-caja {
    background-color: #ffe81f;
}


.index-caja {
    background-image: url(../img/i6.jpg);
    background-size: cover;
}
 
.caja {
    background-image: url(../img/fnd.jpg);
    background-size: contain;
}

.i {
    transition:  all .3s;
    filter: grayscale(100%);
}

.i:hover {
    transform: scale(1.3);
    filter: grayscale(0);
}


.linea {
    width: 100%;
    height: 5px;
    background-color: #000000;
}

/* creditos */

.creditos {
    background-image: url(../img/cr1.avif);
    background-size: cover;
    height: 600px; 
    bottom: -100%; /* Inicia fuera de la vista */
    animation: subir 10s linear infinite; /* Animación */
    color: #ffe81f; 

} 

@keyframes subir {
    0% {
        transform: translateY(50%); 
    }
    100% {
        transform: translateY(-15%); 
    }
}

.creditos h2 {
    margin-top: 70px; 
    margin-bottom: 6px; 
}

.star-wars {
    text-align: center;
    transform: translate(-10%, -10%);
    font-size: 50px; 
    font-family: 'Star Wars', sans-serif; 
    animation: fade 10s forwards; 
}

.c {
    width: 100%; 
    height: 200px; 
}

 

/* FOOTER */

  .social-links {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
} 
 
.social-links a{
    text-decoration: none;
    color: #ffe81f; 
    font-size: 28px; 
}

.social-links a:hover {
    transform: translateY(-3px); 
    box-shadow: 0 4px 10px rgba(195, 237, 25, 0.2); 
    color: #fa041c;

}


.footer-p {
    color: #ffe81f;
}
